@import url(//db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse);
@font-face {font-family: "Norse"; src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot"); src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff") format("woff"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.svg#Norse") format("svg"); } 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.content{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.left {
    
    background-image: url("./images/image.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width:40vw;

}
.logo {
    background-color: rgba(0, 0, 0, 0.7);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Norse", sans-serif;
    position: relative;
    top: 20vh;
    gap:1vw;
    padding:15px;
}
h1{
    color:white
}
.odin-logo{
    height:10vh;
}
.right{
    width: 60vw;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 3vw;
    

}
.dummy-text{
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
}

.call-to-action{
    margin: 40px 0 80px;
}